.cards {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

@media (max-width:1280px) {
  .cards {
    display: grid;
    max-width: 79vw;
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: 40vw 40vw;
  }
}

@media (max-width:770px) {
  .cards {
    grid-template-columns: repeat(2, 26vw);

  }
}

@media (max-width:520px) {
  .cards {
    grid-template-columns: repeat(1, 50vw);
    grid-template-rows: 100vw;
  }
}