.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .description {
    width: 70vw;
    margin: auto;
    padding-top: 5vw;
  }
}

@media (max-width: 520px) {
  .description {
    width: 80vw;
  }
}