.video__iframes {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media (max-width: 1280px) {
  .video__iframes {
    max-width: 78vh;
    margin: 5vw;

  }
}

@media (max-width: 770px) {
  .video__iframes {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(1, 45vw);
    align-items: center;
  }
}