.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.3;
}

@media (max-width:520px) {
  .footer__column-link {
    font-size: 8vw;
    line-height: 9vw;
  }
}