.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
}

@media (max-width:1280px) {
  .khan__author {
    line-height: 4vw;
    font-size: 2.3vw;

  }
}

@media (max-width:520px) {
  .khan__author {
    line-height: 4vw;
    font-size: 4.3vw;
  }
}