.khan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #f2f2f2;
}

@media (max-width:1400px) {
  .khan {
    padding-top: 5vw;
    width: 100%;
  }
}