.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;

}

@media (max-width: 1280px) {
  .header {
    min-height: 50vh;
    height: 50vw;
  }
}

@media (max-width: 900px) {
  .header {
    min-height: 90vh;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (max-width: 770px) {
  .header {
    min-height: 80vw;
  }
}

@media (max-width: 700px) {
  .header {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .header {
    height: 120vw;
  }
}