.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media (max-width:520px) {
  .footer__author {
    font-size: 10vw;
    margin: 5vw;
  }

}