.techniques {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width:1280px) {
  .techniques {
    padding-top: 5vw;
  }
}