.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0px;
}

@media(max-width:1400px) {
  .feynman__subtitle {
    font-size: 4vw;
    margin: 0;
  }
}