.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@media (max-width: 1280px) {
  .header__subtitle {
    font-size: 15px;
    left: 5%;
  }
}

@media (max-width: 900px) {
  .header__subtitle {
    top: 15vh;
    left: auto;
    margin: 0px 29%;
    font-size: 2.5vw;
  }
}

@media (max-width: 770px) {
  .header__subtitle {
    top: 15vh;
    left: auto;
    margin: 0px 29%;
    font-size: 2.5vw;
    line-height: 2.5vw;
  }
}

@media (max-width: 520px) {
  .header__subtitle {
    font-size: 4vw;
    line-height: 5vw;
    width: 75vw;
    top: 25vw;
    text-align: center;
  }
}