.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@media (max-width: 1280px) {
  .two-columns {
    width: auto;
  }
}

@media (max-width: 520px) {
  .two-columns {
    display: flex;

    flex-direction: column;
    align-items: center;
  }
}