.kaufman__triangle {
  position: absolute;
  background-size: contain;
  top: 0;
  right: -210px;
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  z-index: 0;
}

@media (max-width: 1280px) {
  .kaufman__triangle {
    right: -50px;
    width: 80vw;
    height: 80vw;
    bottom: 0;
    top: auto;
  }
}