.two-columns__brief {
  margin: 0;
  max-width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  width: 100%;
}

@media(max-width: 1280px) {
  .two-columns__brief {
    font-size: 2vh;
  }
}

@media(max-width: 520px) {
  .two-columns__brief {
    font-size: 4vh;
    max-width: 100vw;
    width: 80vw;
  }
}